{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -10.77953419,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.40675750639,
                  0.0,
                  0.0
            ],
            [
                  -0.214648549036,
                  3.22448445952,
                  0.0
            ],
            [
                  1.63701209797,
                  1.51904008606,
                  1.49903651947
            ]
      ],
      "unit_of_length": "angstrom"
}