{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -10.85203442,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.0833668015,
                  0.0,
                  0.0
            ],
            [
                  0.303356005454,
                  3.24314983131,
                  0.0
            ],
            [
                  1.76630878506,
                  1.67776246168,
                  1.55961752383
            ]
      ],
      "unit_of_length": "angstrom"
}