{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -10.89749588,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        0.0,
                        -0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.16810546297,
                  0.0,
                  0.0
            ],
            [
                  -0.0933365239889,
                  3.28927688812,
                  0.0
            ],
            [
                  1.57410505031,
                  1.62191330997,
                  1.54994664746
            ]
      ],
      "unit_of_length": "angstrom"
}