{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -10.89949112,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.20484399663,
                  0.0,
                  0.0
            ],
            [
                  -0.145181740717,
                  3.11311867385,
                  0.0
            ],
            [
                  1.61908092808,
                  1.58543225111,
                  1.59358792995
            ]
      ],
      "unit_of_length": "angstrom"
}