{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -21.76737715,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.71554877,
                        1.6512726,
                        1.63790574
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.27442468418,
                  0.0745984931454,
                  -0.00174579830848
            ],
            [
                  0.0842077623015,
                  3.14173379469,
                  0.0832514343766
            ],
            [
                  0.0724650926387,
                  0.0862129182167,
                  3.19430583728
            ]
      ],
      "unit_of_length": "angstrom"
}