{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -21.72505338,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.63762866,
                        1.4498299,
                        1.50107749
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.31374008512,
                  -0.110409554329,
                  -0.0945581744412
            ],
            [
                  0.10482741613,
                  3.15009006489,
                  -0.00466129741205
            ],
            [
                  -0.143310190621,
                  -0.14002072074,
                  3.10137444678
            ]
      ],
      "unit_of_length": "angstrom"
}