{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -21.58993806,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        -0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.52460304,
                        1.78811177,
                        1.75156938
                  ],
                  [
                        0.0,
                        0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.15858396813,
                  0.286302895296,
                  0.0755919916626
            ],
            [
                  0.0711964801584,
                  3.31739015807,
                  0.246653264429
            ],
            [
                  -0.180574377234,
                  -0.0274695176489,
                  3.18089351497
            ]
      ],
      "unit_of_length": "angstrom"
}