{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -21.16501482,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        -0.0,
                        0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.78090074,
                        1.52557222,
                        1.22148425
                  ],
                  [
                        0.0,
                        0.0,
                        -0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.24062224996,
                  0.201592467014,
                  -0.285715469289
            ],
            [
                  0.106252551579,
                  3.00454868596,
                  -0.218999018465
            ],
            [
                  0.214926683188,
                  -0.15499670795,
                  2.94768298411
            ]
      ],
      "unit_of_length": "angstrom"
}