{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -20.78198583,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.78058418,
                        1.87156352,
                        1.65254899
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.34899583835,
                  0.225581373044,
                  -0.140211886407
            ],
            [
                  0.24722477552,
                  3.40947694496,
                  0.0125882505556
            ],
            [
                  -0.0350522369107,
                  0.108068727706,
                  3.43272161627
            ]
      ],
      "unit_of_length": "angstrom"
}