{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -21.15510657,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.4514087,
                        1.46551087,
                        1.74403271
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.12364378694,
                  -0.213357164225,
                  -0.083336925121
            ],
            [
                  0.0595835883944,
                  3.41708767837,
                  0.147592783124
            ],
            [
                  -0.280409963003,
                  -0.272708771977,
                  3.42380956714
            ]
      ],
      "unit_of_length": "angstrom"
}