{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -14.04061873,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.61562459,
                        2.04308142,
                        1.9049496
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  2.94871613057,
                  0.00609748192203,
                  0.613528780236
            ],
            [
                  -0.290025758974,
                  3.51426714496,
                  0.565579237864
            ],
            [
                  0.572558811211,
                  0.565798204535,
                  2.63079118835
            ]
      ],
      "unit_of_length": "angstrom"
}