{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -86.64734225,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        2.53187547,
                        2.56487799,
                        2.548998
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        1.29917315,
                        2.52117374,
                        0.02533224
                  ],
                  [
                        0.01120683,
                        0.02369963,
                        0.03496076
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        3.84565887,
                        2.53346517,
                        0.00318893
                  ],
                  [
                        -0.01120683,
                        -0.02369963,
                        -0.03496076
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        -0.0275754,
                        1.29507254,
                        2.55293936
                  ],
                  [
                        -0.01922656,
                        0.00073752,
                        0.04020332
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        -0.00164512,
                        3.81010056,
                        2.58934325
                  ],
                  [
                        0.01922656,
                        -0.00073752,
                        -0.04020332
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        2.52621546,
                        0.03107071,
                        1.2452254
                  ],
                  [
                        -0.0341108,
                        -0.04714627,
                        -0.0104493
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        2.48567491,
                        0.06862924,
                        3.77996282
                  ],
                  [
                        0.0341108,
                        0.04714627,
                        0.0104493
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  5.0929714531,
                  0.0245828720577,
                  -0.044286604423
            ],
            [
                  0.0518605627231,
                  5.03005603297,
                  0.0728077770338
            ],
            [
                  -0.0810810830588,
                  0.0751170752564,
                  5.06947483054
            ]
      ],
      "unit_of_length": "angstrom"
}