{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -86.64720899,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.0,
                        -0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        2.56164418,
                        2.48619109,
                        2.63723257
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        1.27562096,
                        2.50745338,
                        0.0563046
                  ],
                  [
                        0.02770331,
                        0.02212157,
                        -0.02879587
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        3.80246753,
                        2.52513749,
                        0.09239412
                  ],
                  [
                        -0.02770331,
                        -0.02212157,
                        0.02879587
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        0.02869877,
                        1.21920132,
                        2.58201313
                  ],
                  [
                        -0.01886404,
                        -0.01382826,
                        0.00493775
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        0.04089644,
                        3.71781265,
                        2.62027297
                  ],
                  [
                        0.01886404,
                        0.01382826,
                        -0.00493775
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        2.53814655,
                        0.00263193,
                        1.31753113
                  ],
                  [
                        0.03500051,
                        -0.00689416,
                        -0.01546208
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        2.56074648,
                        -0.02747241,
                        3.88041434
                  ],
                  [
                        -0.03500051,
                        0.00689416,
                        0.01546208
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  5.05369315288,
                  0.0353682144256,
                  0.0721790396428
            ],
            [
                  0.0243953320469,
                  4.99722266108,
                  0.0765196798606
            ],
            [
                  0.0451998731316,
                  -0.0602086904778,
                  5.12576642163
            ]
      ],
      "unit_of_length": "angstrom"
}