{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -86.65313109,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        -0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        2.54627853,
                        2.49058635,
                        2.53083424
                  ],
                  [
                        -0.0,
                        -0.0,
                        -0.0
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        1.2645219,
                        2.49208888,
                        0.00593525
                  ],
                  [
                        0.00562419,
                        -0.01164658,
                        -0.0302108
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        3.76471087,
                        2.45677727,
                        0.03052941
                  ],
                  [
                        -0.00562419,
                        0.01164658,
                        0.0302108
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        0.03887586,
                        1.27102562,
                        2.50942099
                  ],
                  [
                        0.01172701,
                        -0.0052091,
                        0.00493409
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        0.05330328,
                        3.78077029,
                        2.50305917
                  ],
                  [
                        -0.01172701,
                        0.0052091,
                        -0.00493409
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        2.51602004,
                        -0.02723497,
                        1.28089511
                  ],
                  [
                        0.03234758,
                        -0.00542641,
                        -0.00139845
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        2.54768219,
                        -0.01108169,
                        3.79349701
                  ],
                  [
                        -0.03234758,
                        0.00542641,
                        0.00139845
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  5.00037792856,
                  -0.0706232103255,
                  0.0491883121735
            ],
            [
                  0.0288548382403,
                  5.01948935928,
                  -0.0127236440827
            ],
            [
                  0.0633242998676,
                  0.0323065510778,
                  5.02520380995
            ]
      ],
      "unit_of_length": "angstrom"
}