{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -60.78229529,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.99772287,
                        0.94529238,
                        0.94115732
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        2.89590686,
                        1.11731322,
                        2.83968593
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        2.92730788,
                        2.69279467,
                        1.1152134
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        1.16084533,
                        2.80693877,
                        2.6332019
                  ],
                  [
                        -0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        3.99089147,
                        3.78116951,
                        3.76462927
                  ],
                  [
                        -0.2039729,
                        -0.29018959,
                        -0.19242681
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        5.9863372,
                        5.67175427,
                        5.64694392
                  ],
                  [
                        0.2039729,
                        0.29018959,
                        0.19242681
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  0.326244927804,
                  3.72329276696,
                  3.38408915478
            ],
            [
                  3.79636797929,
                  0.344041673803,
                  3.79705722676
            ],
            [
                  3.85917002913,
                  3.49500458929,
                  0.348112169591
            ]
      ],
      "unit_of_length": "angstrom"
}