{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -62.67165351,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.88696095,
                        0.92385939,
                        0.97974468
                  ],
                  [
                        0.0,
                        -0.0,
                        -0.0
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        2.59923022,
                        1.06027553,
                        2.86409468
                  ],
                  [
                        0.0,
                        0.0,
                        0.0
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        2.74754785,
                        2.66689279,
                        1.03217168
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        0.8619486,
                        2.73984744,
                        2.96194639
                  ],
                  [
                        0.0,
                        0.0,
                        -0.0
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        3.54784381,
                        3.69543757,
                        3.91897871
                  ],
                  [
                        -0.1290536,
                        0.24257276,
                        -0.16287139
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        5.32176572,
                        5.54315637,
                        5.87846807
                  ],
                  [
                        0.1290536,
                        -0.24257276,
                        0.16287139
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  -0.0500247114328,
                  3.63197609159,
                  3.96440341702
            ],
            [
                  3.42453853487,
                  0.272832262355,
                  3.76870000134
            ],
            [
                  3.72117379272,
                  3.4860667944,
                  0.104854003112
            ]
      ],
      "unit_of_length": "angstrom"
}