{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -9.76803867,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        -0.0,
                        0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  2.62775570253,
                  -0.0558412636914,
                  0.0587411725974
            ],
            [
                  -0.0592693993832,
                  2.63225121437,
                  0.0534605347042
            ],
            [
                  0.233642931112,
                  -0.113960123045,
                  2.43035062455
            ]
      ],
      "unit_of_length": "angstrom"
}