{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -17.41521241,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.05062591,
                        0.12366707,
                        -0.21663805
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.41634487,
                        1.40623312,
                        1.44391531
                  ],
                  [
                        -0.05062591,
                        -0.12366707,
                        0.21663805
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  -0.026174297487,
                  2.86400119356,
                  2.8544941996
            ],
            [
                  2.87671569902,
                  -0.0576527279014,
                  2.86602353572
            ],
            [
                  2.81483807343,
                  2.81858401294,
                  0.0551435228766
            ]
      ],
      "unit_of_length": "angstrom"
}