{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -17.4182583,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.02561477,
                        -0.12480156,
                        -0.03584364
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.4147061,
                        1.42211746,
                        1.41572866
                  ],
                  [
                        -0.02561477,
                        0.12480156,
                        0.03584364
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  0.0208834050225,
                  2.86388984716,
                  2.90493664645
            ],
            [
                  2.82493342024,
                  -0.0492023673304,
                  2.78840368761
            ],
            [
                  2.81300755732,
                  2.87378236187,
                  -0.0304256615717
            ]
      ],
      "unit_of_length": "angstrom"
}