{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -16.97005404,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        -0.40093676,
                        0.82900968,
                        0.88655144
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.39723504,
                        1.44468449,
                        1.32934107
                  ],
                  [
                        0.40093676,
                        -0.82900968,
                        -0.88655144
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  0.114986346819,
                  2.79408485035,
                  2.55423078358
            ],
            [
                  2.73011826912,
                  0.00529883523228,
                  2.6034369862
            ],
            [
                  2.74383553948,
                  2.97935426032,
                  0.159696528922
            ]
      ],
      "unit_of_length": "angstrom"
}