{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -127.04011017,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.01991245,
                        -0.03635044,
                        -0.23147979
                  ],
                  [
                        0.37761381,
                        0.00694164,
                        0.14743142
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.43162176,
                        1.55952062,
                        1.42679059
                  ],
                  [
                        0.02110637,
                        -0.11568841,
                        0.13255761
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        3.09220744,
                        -0.04825102,
                        -0.07955142
                  ],
                  [
                        0.14385399,
                        -0.16390734,
                        -0.16255506
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        4.68603959,
                        1.45605967,
                        1.53033068
                  ],
                  [
                        -0.37081202,
                        0.17708165,
                        0.14387735
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        6.28928978,
                        -0.15702582,
                        0.01416356
                  ],
                  [
                        0.26814883,
                        0.27675974,
                        -0.06983839
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        7.87833574,
                        1.4799409,
                        1.64982079
                  ],
                  [
                        0.0134977,
                        -0.0236255,
                        -0.16168856
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        9.52021607,
                        -0.06297452,
                        0.07797768
                  ],
                  [
                        -0.05038962,
                        0.00247194,
                        -0.14280327
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        11.10079163,
                        1.56379136,
                        1.63153149
                  ],
                  [
                        -0.13711849,
                        0.03857035,
                        -0.02985096
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        12.71629229,
                        0.04239589,
                        0.01248177
                  ],
                  [
                        0.26098359,
                        0.03205965,
                        0.36103001
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        14.31090635,
                        1.68843233,
                        1.65600474
                  ],
                  [
                        -0.31700619,
                        0.14097646,
                        0.05112381
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        15.95775751,
                        0.20545151,
                        0.14582927
                  ],
                  [
                        0.02310964,
                        -0.31748072,
                        -0.39983898
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        17.35914785,
                        1.79651094,
                        1.65360203
                  ],
                  [
                        -0.23298762,
                        -0.05415946,
                        0.13055502
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  28.9184106006,
                  0.0,
                  0.0
            ],
            [
                  0.0,
                  3.16250080061,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  3.16250080061
            ]
      ],
      "unit_of_length": "angstrom"
}