{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -123.73346619,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        2.1405963,
                        1.28378425,
                        8.96233303
                  ],
                  [
                        -0.0715041,
                        -0.03890079,
                        1.24045257
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        -0.12158149,
                        2.57449856,
                        9.69631937
                  ],
                  [
                        -0.13415658,
                        0.00825885,
                        1.25468576
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        -0.20535165,
                        0.01430615,
                        10.54779867
                  ],
                  [
                        0.82075731,
                        -0.21963688,
                        -0.28586298
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        2.16800991,
                        1.21668902,
                        11.64154348
                  ],
                  [
                        -0.19723089,
                        1.18947241,
                        -1.45836897
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        -0.04368573,
                        2.64243382,
                        12.50137423
                  ],
                  [
                        -0.03691218,
                        -0.64426518,
                        -0.25758287
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        -0.0346895,
                        0.03900373,
                        13.44712261
                  ],
                  [
                        0.4550531,
                        -0.33459688,
                        0.28632356
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        2.27399469,
                        1.34733657,
                        14.34846295
                  ],
                  [
                        0.1681794,
                        -0.26985413,
                        0.96098589
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        0.17688235,
                        2.55990743,
                        15.42553142
                  ],
                  [
                        -1.00343292,
                        0.27182231,
                        -0.17647181
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        0.15897429,
                        0.01542119,
                        16.34556996
                  ],
                  [
                        -0.67466075,
                        -0.13143478,
                        0.42974081
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        2.33668052,
                        1.25989355,
                        17.27970963
                  ],
                  [
                        0.19871902,
                        0.28415444,
                        0.35888859
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        0.08558521,
                        2.60676985,
                        18.15442443
                  ],
                  [
                        0.14401431,
                        -0.28171409,
                        -0.10914913
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        0.00991822,
                        -0.06627271,
                        19.05447508
                  ],
                  [
                        0.33117427,
                        0.16669471,
                        -2.24364141
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  4.47266654402,
                  0.0,
                  0.0
            ],
            [
                  2.236333272,
                  3.87344285057,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  27.9007774801
            ]
      ],
      "unit_of_length": "angstrom"
}