{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -126.62265807,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.17991171,
                        -0.21511785,
                        -0.03589703
                  ],
                  [
                        0.38827131,
                        0.51860969,
                        -0.01809555
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        5.19669237,
                        1.02401522,
                        0.02817231
                  ],
                  [
                        0.04904729,
                        -0.46798153,
                        -0.26001396
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        2.60770943,
                        1.83697107,
                        -0.06166538
                  ],
                  [
                        -0.51983396,
                        -0.05557599,
                        0.71242038
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        3.8282821,
                        0.04731066,
                        2.24720987
                  ],
                  [
                        0.47490224,
                        -0.03302968,
                        -0.43673667
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        1.29393157,
                        0.81191463,
                        2.20141352
                  ],
                  [
                        -0.31620342,
                        -0.05993582,
                        -0.15637436
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        6.46926726,
                        1.89493976,
                        2.24432802
                  ],
                  [
                        -0.28750174,
                        -0.14437083,
                        0.05331346
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        7.74908885,
                        0.07787796,
                        -0.00956499
                  ],
                  [
                        -0.26447801,
                        -0.10297899,
                        0.52777211
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        12.95764092,
                        0.92016215,
                        0.01509129
                  ],
                  [
                        -0.43296954,
                        0.08593748,
                        -0.20834449
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        10.28150996,
                        1.79726771,
                        0.04521219
                  ],
                  [
                        0.95583328,
                        0.23209316,
                        -0.30256787
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        11.61819994,
                        -0.0693487,
                        2.22972737
                  ],
                  [
                        0.18975982,
                        0.26329037,
                        0.42119589
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        9.01544507,
                        0.94158844,
                        2.28877287
                  ],
                  [
                        -0.14367567,
                        -0.02430867,
                        -0.44710349
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        14.01396041,
                        1.88764239,
                        2.22455406
                  ],
                  [
                        -0.0931516,
                        -0.2117492,
                        0.11453454
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  25.4364319894,
                  0.0,
                  0.0
            ],
            [
                  0.0,
                  2.73880610172,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  4.47245070697
            ]
      ],
      "unit_of_length": "angstrom"
}