{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -130.87072674,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        4.411e-05,
                        -0.01151984,
                        -0.04440398
                  ],
                  [
                        -0.01540492,
                        -0.99268965,
                        0.30318895
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.58123568,
                        1.56669469,
                        1.56260571
                  ],
                  [
                        -0.38352144,
                        -0.12313617,
                        -0.00405209
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        3.1031277,
                        -0.0195299,
                        -0.00957575
                  ],
                  [
                        0.80401229,
                        0.22669841,
                        0.20031967
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        4.71946536,
                        1.60704789,
                        1.6509808
                  ],
                  [
                        0.22157387,
                        -0.1738399,
                        -0.27842758
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        6.33879678,
                        0.02814885,
                        0.07252282
                  ],
                  [
                        -0.42891572,
                        0.17295779,
                        -0.36983329
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        7.92587981,
                        1.64312751,
                        1.54591201
                  ],
                  [
                        -0.25593379,
                        -0.23101198,
                        0.58227604
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        9.48503373,
                        0.05162567,
                        0.02686645
                  ],
                  [
                        0.2654107,
                        0.02246046,
                        -0.22124007
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        11.07350912,
                        1.61827772,
                        1.59688724
                  ],
                  [
                        0.10711389,
                        -0.18202245,
                        -0.03314002
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        12.67453014,
                        -0.01413361,
                        0.00830643
                  ],
                  [
                        -0.28099282,
                        0.23608046,
                        -0.30865671
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        14.24880032,
                        1.56192579,
                        1.49852449
                  ],
                  [
                        -0.24054591,
                        0.3796428,
                        0.26959908
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        15.8141965,
                        0.09768227,
                        -0.10631297
                  ],
                  [
                        -0.11077257,
                        -0.72800473,
                        0.56592896
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        17.36289471,
                        1.57270427,
                        1.59246326
                  ],
                  [
                        0.31797642,
                        1.39286496,
                        -0.70596295
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  18.9809788102,
                  0.316349646837,
                  0.0
            ],
            [
                  0.0,
                  3.16349646837,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  3.16349646837
            ]
      ],
      "unit_of_length": "angstrom"
}