{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -130.40463202,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        -0.05029179,
                        0.06078946,
                        -0.03862085
                  ],
                  [
                        1.07893533,
                        1.70377334,
                        0.2538518
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        1.60046998,
                        1.57774189,
                        1.593835
                  ],
                  [
                        -0.68983212,
                        0.7235053,
                        -0.24548927
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        3.09482707,
                        0.06306484,
                        0.00534314
                  ],
                  [
                        0.63506275,
                        -0.38050019,
                        0.03740115
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        4.70120718,
                        1.64453975,
                        1.58602516
                  ],
                  [
                        0.46906877,
                        -0.29735006,
                        0.15254876
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        6.29659442,
                        -0.03084177,
                        0.05505796
                  ],
                  [
                        -0.32891508,
                        0.34029731,
                        -0.26047362
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        7.93899396,
                        1.5703835,
                        1.60316781
                  ],
                  [
                        -0.99657897,
                        0.19143284,
                        -0.0035276
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        9.40757918,
                        0.03731072,
                        -0.00022988
                  ],
                  [
                        0.70161647,
                        -0.40631168,
                        0.28179511
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        11.05363845,
                        1.56491809,
                        1.62409988
                  ],
                  [
                        -0.40593678,
                        0.57391893,
                        -0.13563997
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        12.53847206,
                        0.06432984,
                        0.05671555
                  ],
                  [
                        0.92044348,
                        -0.49565611,
                        -0.42258744
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        14.20928607,
                        1.6209383,
                        1.51409327
                  ],
                  [
                        -0.18158725,
                        -0.12691346,
                        0.67993596
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        15.77371186,
                        -0.05234441,
                        0.03224671
                  ],
                  [
                        -0.44042219,
                        0.19092334,
                        -0.53917401
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        17.35766287,
                        1.55432645,
                        1.54782032
                  ],
                  [
                        -0.76185441,
                        -2.01711956,
                        0.20135911
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  18.9809788102,
                  2.53079717471,
                  0.0
            ],
            [
                  0.0,
                  3.16349646837,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  3.16349646837
            ]
      ],
      "unit_of_length": "angstrom"
}