{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -129.50466262,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.02327164,
                        -0.07351445,
                        -0.03115607
                  ],
                  [
                        0.69708705,
                        -0.54684428,
                        -2.59232069
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        5.14228543,
                        0.96658742,
                        -0.00236182
                  ],
                  [
                        -0.03512088,
                        -0.52001744,
                        -0.13657099
                  ]
            ],
            [
                  2,
                  "Mo",
                  [
                        2.60339934,
                        1.84958462,
                        -0.03227819
                  ],
                  [
                        -0.20467265,
                        -0.1763022,
                        0.25937891
                  ]
            ],
            [
                  3,
                  "Mo",
                  [
                        3.81841501,
                        -0.01982027,
                        2.1978537
                  ],
                  [
                        0.17177324,
                        0.27046209,
                        0.22685336
                  ]
            ],
            [
                  4,
                  "Mo",
                  [
                        1.19021235,
                        0.91563285,
                        2.22982196
                  ],
                  [
                        1.82100603,
                        -0.12524562,
                        -0.01726924
                  ]
            ],
            [
                  5,
                  "Mo",
                  [
                        6.43472787,
                        1.77977814,
                        2.2505174
                  ],
                  [
                        -0.14000209,
                        0.64700099,
                        -0.41163712
                  ]
            ],
            [
                  6,
                  "Mo",
                  [
                        7.70874058,
                        0.03867437,
                        -0.03597654
                  ],
                  [
                        0.52713773,
                        -0.3321543,
                        0.57952975
                  ]
            ],
            [
                  7,
                  "Mo",
                  [
                        12.87137854,
                        0.89925759,
                        -0.07699734
                  ],
                  [
                        -0.21909004,
                        0.59294123,
                        0.19651454
                  ]
            ],
            [
                  8,
                  "Mo",
                  [
                        10.32827897,
                        1.89511459,
                        -0.00446889
                  ],
                  [
                        -0.16544718,
                        -0.35924923,
                        0.03506741
                  ]
            ],
            [
                  9,
                  "Mo",
                  [
                        11.63865509,
                        0.09627427,
                        2.22301383
                  ],
                  [
                        -0.64547046,
                        -0.60516443,
                        -0.37052161
                  ]
            ],
            [
                  10,
                  "Mo",
                  [
                        9.05620611,
                        0.90366851,
                        2.24679783
                  ],
                  [
                        -0.26939859,
                        0.46898502,
                        -0.33439666
                  ]
            ],
            [
                  11,
                  "Mo",
                  [
                        14.20116075,
                        1.86129406,
                        2.15875917
                  ],
                  [
                        -1.53780215,
                        0.68558818,
                        2.56537234
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  15.4979042973,
                  0.821900492892,
                  0.447385957516
            ],
            [
                  0.0,
                  2.73966830964,
                  0.0
            ],
            [
                  0.0,
                  0.0,
                  4.47385961495
            ]
      ],
      "unit_of_length": "angstrom"
}