{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -10.85567631,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.0,
                        -0.0,
                        -0.0
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  3.13096100926,
                  0.0,
                  0.0
            ],
            [
                  0.202532208955,
                  3.26910736592,
                  0.0
            ],
            [
                  1.56995413176,
                  1.55538550678,
                  1.52877782196
            ]
      ],
      "unit_of_length": "angstrom"
}