{
      "name": "Mo",
      "atomic_position_unit": "cartesian",
      "energy": [
            -20.94928585,
            "ev"
      ],
      "atoms": [
            [
                  0,
                  "Mo",
                  [
                        0.0,
                        0.0,
                        0.0
                  ],
                  [
                        0.04970889,
                        -0.13633751,
                        -0.0026753
                  ]
            ],
            [
                  1,
                  "Mo",
                  [
                        0.00665203,
                        1.57423575,
                        2.33029764
                  ],
                  [
                        -0.04970889,
                        0.13633751,
                        0.0026753
                  ]
            ]
      ],
      "lattice_vectors": [
            [
                  2.8688777233,
                  -0.0191270587642,
                  0.0310894311159
            ],
            [
                  -1.44657999573,
                  2.40172537608,
                  0.015564076444
            ],
            [
                  0.0294922464996,
                  -0.0410776131539,
                  4.61911689266
            ]
      ],
      "unit_of_length": "angstrom"
}